{% extends "finalapp/base.html" %}
{% load i18n %}
{% block content-body %}
<ul>
	<li><a href="/finalapp/ask_images">Pull Images</a></li>
	<li><a href="/finalapp/view_all_images">View all images</a></li>
	<li><a href="/finalapp/ask_search_images">Search images</a></li>
	<li><a href="/finalapp/ask_del_images">Delete images</a></li>
	<li><a href="/finalapp/ask_create_container">Create Container</a></li>
	<li><a href="/finalapp/ask_start_container">Start Container</a></li>
	<li><a href="/finalapp/ask_stop_container">Stop Container</a></li>
	<li><a href="/finalapp/ask_restart_container">Restart Container</a></li>
	<li><a href="/finalapp/ask_del_container">Delete Container</a></li>
	<li><a href="/finalapp/view_all_containers">View all containers</a></li>
</ul>
{% endblock %}
